.page {
  box-sizing: border-box;
<<<<<<< HEAD
  width: 100%;
  max-width: 2000px;
  background-color: rgba(229, 149, 183, 0.12);
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
=======
  max-width: 1280px;
  background: #e5e5e5;
  margin: 0 auto;
>>>>>>> feature/card
}
