.card-popup__button {
  background: none;
  cursor: pointer;
  border: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
}
