.playlists__item-button_play {
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../../../../images/buttons/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
  width: 27px;
  height: 27px;
  border: 0;
  margin: 15px 0 15px;
}

.playlists__item-button_play:hover {
  opacity: 0.6;
}
