.idea__image {
  min-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-style: none;
  margin-right: 92px;
  align-self: flex-end;
  border-radius: 20px;
}
@media screen and (max-width: 880px) {
  .idea__image {
    max-width: 300px;
    align-self: center;
    margin: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .idea__image {
    max-width: 300px;
    margin-bottom: 20px;
  }
}
