.card__card-grid {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 400px);
  grid-auto-rows: 400px;
  grid-gap: 75px;
}

@media screen and (max-width: 900px) {
  .card__card-grid {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}
