.header {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(223, 30, 111, 0.33) 0%,
    rgba(107, 243, 0, 0.44) 100%
  );
  justify-content: center;
  min-height: 88px;
  border-bottom: solid black 1px;
}
