<<<<<<< HEAD
.header {
  display: flex;
}
=======
.header{
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding:0;
    width: 100%;
    background-color: rgba(223, 30, 111, 0.12);
    justify-content: space-around;
    min-height: 88px;
    max-width: 1280px;
    
    
  }
>>>>>>> develop
